// Sass Variables and functions Here: 
$background-color: white; 
@mixin randomcss {
//random css properties
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

// Add styles Here: 

body {
    background-color: $background-color;
    @include randomcss; 
}




